@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
html{
    background: hsl(185, 41%, 84%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono', monospace;
    height: 100vh;
    justify-content: center;
}
main{
    height: 60vh;
    display: flex;
    width: 60%;
    background: white;
    border-radius: 20px;
}

.left{
    height: 50vh;
    margin-top: 5vh;
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.billInput, .peopleInput{
    width: 80%;
    background: hsl(189, 41%, 97%);
    border: none;
    height: 3vw;
    border-radius: 5px;
}
.billInput{
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 5% center;
}
.billInput::placeholder{
    float: right;
    position: relative;
    top: 30%;
    right: 5%;
}
.billInput:focus{
    background-image: none;
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}
.peopleInput{
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 5% center;
}
.peopleInput::placeholder{
    float: right;
    position: relative;
    top: 30%;
    right: 5%;
}
.peopleInput:focus{
    background-image: none;
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}
.tips{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.tips input{
    width: 70%;
    border: none;
    background: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    height: 3vw;
    margin: 0.5vw;
    text-align: center;
    font-size: 20px;
}
.tips input:focus{
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}
.left button{
    background: hsl(183, 100%, 15%);
    width: 70%;
    height: 3vw;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0.5vw;
    font-size: 20px;
}
.right{
    width: 40%;
    margin-left: 0;
    border-radius: 10px;
    height: 50vh;
    margin-top: 5vh;
    background: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first, .second{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
}
.right button{
    width: 80%;
    height: 3vw;
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    margin-left: 10%;
}
.right button:hover{
    background: hsl(180, 56%, 73%);
}
.left button:hover{
    background: hsl(180, 56%, 73%);
}

.firstText{
    display: flex;
    flex-direction: column;
}
.textwhite{
    color: white;
}
.money, .totalPerson{
    color: hsl(172, 67%, 45%);
}
.gray{
    color: hsl(186, 14%, 43%);
}
@media (max-width: 1100px){
    main{
        width: 95%;
    }
    .tips input{
        font-size: 16px;
    }
}

@media (max-width: 700px){
    h1{
        margin-top: 30%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 10%;
    }
    .tips input{
        width: 90%;
        height: 5vw;
    }
    .left{
        width: 90%;
        margin-left: 5%;
    }
    .left button{
        width: 90%;
        height: 5vw;
    }
    .billInput, .peopleInput{
        width: 90%;
        height: 6vw;
    }
    .right{
        width: 90%;
        margin-left: 5%;
    }
    .right button{
        height: 7vw;
    }
}
@media (max-width: 500px){
    .left button{
        height: 8vw;
    }
    .tips input{
        height: 8vw;
    }
    .billInput, .peopleInput{
        width: 90%;
        height: 8vw;
    }
    .right button{
        height: 10vw;
    }
}